# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# PyCharm IDE enviroment
.idea

# Text files
*.txt

# Others
.DS_Store

# Remaining years
2018/
